@import '~bootstrap';
.alert {
    padding: 15px;
    background-color: red;
    color: black;
    margin-bottom: 15px;
    }
.clear {
    border-radius: 0.25rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 10vh;
    height: 5vh;
}
.forms{
    padding: 8%;
}
.list-group{
    padding: 8%;
}