@import '~bootstrap';

*{
    margin: 0 auto;
}
.row{
    padding-top: 10%;
}
input{
    background-color: #007bff; 
    border-color: #007bff;
    line-height: 2;
    border-radius: 5px;
}
::placeholder{
    color: #ffffff;
}